<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrosshairOverlay.Properties.Crosshair" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CrosshairOverlay.Properties.Crosshair>
            <setting name="ImageUri" serializeAs="String">
                <value />
            </setting>
            <setting name="PosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Rotate" serializeAs="String">
                <value>0</value>
            </setting>
        </CrosshairOverlay.Properties.Crosshair>
    </userSettings>
</configuration>